<h1>本当に退会しますか？</h1>
<p>退会すると、これまでの会員登録情報や</p>
<p>これまでの購入履歴が閲覧できなくなります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p>
退会しない　　退会する
<% if user_signed_in? && @user.id == current_user.id %>
        <%= link_to "退会", users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
<% end %>