// Place all the styles related to the public/commodities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.commodity_price {
  font-family: "Arial", "メイリオ";
  font-size: 25px;
}

.price {
  font-size: 15px;
}

.commodity_name {
  font-family: "Arial", "メイリオ";
  font-size: 25px;
}

.commodity_opinion {
  font-family: serif;
  font-size: 17px;
}