// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.kou {
    margin-left: 200px;
}

.touroku {
    font-weight: bold;
    margin-top: 50px;
    margin-left: 200px;
}

