// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-image: image-url('cake.jpg');
  height: 400px;
  background-size: cover;
  background-position: center;
}

.main-visual-text {
  height: 400px; 
  text-align: center; /* 文字を中央揃えにする */
  padding-top: 120px; /* 上側の内側余白で垂直方向の位置を調整 */
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* 背景色を半透明の黒にする */
  letter-spacing: 0.5em;
}