<h1>会員一覧</h1>

<table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <th>
              <%= customer.id %>
            <th>
              <%= link_to customer.name, admin_customer_path(customer.id) %>
            </th>
            <th><%= customer.email %></th>
            <th><%= customer.is_deleted %></th>
          </tr>
          <% end %>

        </tbody>
        
      </table>