<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-4 text-center">
      <h5 class="bg-light mb-4">配送先編集</h5>
    </div>
  </div>
  <%= render "destination_form", destination: @destination %>
</div>