// Place all the styles related to the admin/commodities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  font-family: serif;
  font-size: 13px;
}

.body {
  font-family: Batang;
  font-size: 17px;
}

.status_good {
  color: #008000;
}

.status-bad {
  color: #dcdcdc;
}
