<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :content, placeholder: "Search", class: "form-control" %>
    <% f.submit %>
  <% end %>
</div>